#hero {
  background-color: white;
  background-image: url("../image/myphoto.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 80px;
}

.hero__job {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 700;

  align-items: flex-start;
}
.hero__edu {
  font-family: "Quicksand", sans-serif;
  line-height: 2.5;

  font-weight: 300;
  color: black;
}
.hero__btn {
  width: 300px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: normal;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
  background-color: transparent;
}
